
/*Importar fuentes*/

@font-face {
    font-family: "Master_of_break";
    src: url("../fonts/master_of_break.otf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "Slow_Play";
    src: url("../fonts/Slow\ Play.otf") format("opentype");
    font-weight: 400;
}
 
/*Estilos al texto*/
h1{
 font-family: 'Master_of_break';
 font-weight: 400;
 text-align: center;
 font-size: 50px;
 letter-spacing: 7px;
 position: absolute;
 bottom: 30%; right: 15%;
}

h2{
 font-family:Arial, Helvetica, sans-serif;
 font-weight: 400;
 font-size: 20px;
 text-align: justify;
 position: absolute;
 bottom: 0%; right: 5%;
}

.imgContent {
    height: 75vh;
    background-image: url("../img/Leon.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90% auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.content {
display: inline-flex;
justify-content: center;
padding: 35px;
}

.menu {
   position: absolute;
   top: 20px;
   left: 50%;
   transform: translateX(-50%);
   width: 80%;
   background: #ffebeb;
   border-radius: 40px;
   z-index: 10;
}

.menuContainer {
    display: flex;
    justify-content: space-around;
    padding: 5px;
}
.btn {
    display: inline-block; 
    padding: 10px 35px; 
    background-color: #a41508;
    color: white; 
    text-decoration: none; 
    justify-content: space-around;
    border-radius: 40px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: none;
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

.btnPrincipal {
    display: flex;
    justify-content: center;
    padding: 5px;
    flex-direction: column;
    gap: 10px;
}

.btnInSesion {
    padding: 10px;
    background-color: #fcd016;
    color: white;
    text-decoration: none;
    border-radius: 40px;
    font-family: 'Slow_Play';
    font-size: 15px;
    border: none;
}

.btnRegist {
    padding: 10px;
    background-color: #5c7eeb;
    color: white;
    text-decoration: none;
    border-radius: 40px;
    font-family: 'Slow_Play';
    font-size: 15px;
    border: none;
}

.imgText {
    
}