/*Importar fuentes*/

@font-face {
    font-family: "Master_of_break";
    src: url("../fonts/master_of_break.otf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "Slow_Play";
    src: url("../fonts/Slow\ Play.otf") format("opentype");
    font-weight: 400;
}
 
/*menu*/

.menu {
   position: absolute;
   top: 20px;
   left: 50%;
   transform: translateX(-50%);
   width: 80%;
   background: #ffebeb;
   border-radius: 40px;
   z-index: 10;
}

.content {
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.content {
    display: inline-flex;
    justify-content: center;
    padding: 35px;
}

.menuContainer {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    margin-top: 0;
}

/*Texto*/
.imgText h1{
 font-family: 'Master_of_break';
 font-size: 50px;
 font-weight: 400;
 letter-spacing: 7px;
 text-align: center;
}

.imgText h2{
 font-family:Arial, Helvetica, sans-serif;
 font-size: 15px;
 text-align: justify;
 position: relative;
}

/*Todo lo que esta arriba de la imagen*/
.imgContent {
    height: 75vh;
    background-image: url("../img/Leon.jpg");
    background-position: center 10px;
    background-repeat: no-repeat;
    background-size: 90% auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Botones*/
.btn {
    display: inline-block; 
    padding: 10px 45px; 
    background-color: #a41508;
    color: white; 
    text-decoration: none; 
    justify-content: space-around;
    border-radius: 40px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: none;
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

.btnPrincipal {
    display: flex;
    justify-content: center;
    padding: 5px;
    flex-direction: column;
    gap: 15px;
    width: 150px;
    text-align: center;
}

.btnInSesion {
    padding: 12px;
    background-color: #fcd016;
    color: white;
    border-radius: 40px;
    text-decoration: none;
    font-family: 'Slow_Play';
    font-size: 15px;
    border: none;
}

.btnRegist {
    padding: 12px;
    background-color: #5c7eeb;
    color: white;
    border-radius: 40px;
    text-decoration: none;
    font-family: 'Slow_Play';
    font-size: 15px;
    border: none;
}

/*Botones y texto de abajo a la derecha*/
.PrincipalContent{
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
padding-left: 50%;
color: white;
align-items: center;
margin-top: 5%;
}

.contObjetivo {
    color: white;
    justify-content: center;
    position: absolute;
    left: 40px;
    bottom: 15%;
    background-color: #a41508;
    padding: 20px;
    border-radius: 40px;
    width: 250px;
    text-align: center;
    border: 10px solid #ffebeb;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body {
    background-color: #ffebeb;
}
